* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: rgb(226, 104, 4);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
nav ul li {
  margin: 15px;
  padding: 10px;
}
nav ul li:hover {
  background-color: lightgray;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

.banner {
  display: flex;
  background-color: lightyellow;
  padding: 20px;
  align-items: center;
}

.banner-container {
  text-align: center;
  flex: 1;
}

.banner-pic {
  flex: 1;
}

.banner-pic img {
  width: 100%;
}

.banner-container button {
  background-color: bisque;
  padding: 8px 11px;

  border-radius: 5px;
  cursor: pointer;
}

.banner-container button:hover {
  background-color: orange;
}
